<header>
  <h1>DASHBOARD</h1>
</header>

<div>
  <h1 class="pickGame">Pick a Game!</h1>
</div>
<div class="join-game">
  <div class="columns">
    <a href="/tic-tac-toe" class="column is-third">
      <button
        class="gameSelect column is-full"
        id="tictactoe"
      >Tic-Tac-Toe</button>
    </a>
    <a class="column is-third">
      <button class="gameSelect column is-full" id="sudoku">Sudoku</button>
    </a>
    <a class="column is-third">
      <button class="gameSelect column is-full" id="moregames">More games coming
        soon!</button>
    </a>
  </div>
</div>

<script src="/javascript/dashboard.js"></script>