<header>
  <h1>DIGITAL ARCADE</h1>
</header>

<div class="columns">
  <form class="login-form column">
    <div>
      <label for="username-login">Username:</label><br />
      <input type="text" id="username-login" name="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label><br />
      <input type="password" id="password-login" name="password-login" />
    </div>
    <div>
      <button type="submit" class="login-button">LOGIN</button>
    </div>
  </form>

  <form class="signup-form column">
    <div>
      <label for="username-signup">Username:</label><br />
      <input type="text" id="username-signup" name="username-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label><br />
      <input type="password" id="password-signup" name="password-signup" />
    </div>
    <div>
      <button type="submit" class="signup-button">SIGNUP</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>